@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Nunito:wght@400;500;800&family=Open+Sans:wght@500&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

*{
  margin:0;padding: 0;box-sizing: border-box;
  /* font-family: 'Gothic A1', sans-serif; */
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}
body {
  overflow-x: hidden;
  background-color: #cccccc;
  background-color: #ffffff;
  position: relative;
}

.appCon {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
 
}
.appCon:last-child{
  flex-grow: 1;
  background-color: #ffffff;
}
.browserCon{
  border: 1px solid blue;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}